<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log">
  <extensions>
    <add assembly="NLog.Targets.Sentry" />
  </extensions>
  <targets>
    <target  name="sentry" xsi:type="Sentry" dsn="https://9582a2167f484af183470361f62a3a83@sentry.io/1515850" environment="test" timeout="00:00:20" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="sentry" />
  </rules>
</nlog>
